<h1>Show DB results: </h1>
<a href="/">HOME</a>
<hr>


<% result.forEach((item) => { %>
  <div>
    <p><strong>ID number:</strong> <%= item.id %>; </p>
    <p><strong>Name: </strong><%= item.name%>; </p>
    <p><strong>Email:</strong> <%= item.email%>; </p>
    <p><strong>Message:</strong> "<%= item.message%>";</p>
  </div>
  <hr>

<% }) %>
